<footer class="site-footer custom-border-top">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-lg-3 mb-4 mb-lg-0">
        <h3 class="footer-heading mb-4">Suporte</h3>
        <a href="#" class="block-6">
          <img src="././assets/suporte-ao-cliente.png" alt="Image placeholder" class="img-fluid rounded mb-4"
            width="50">
          <p></p>
        </a>
      </div>
      <div class="col-lg-5 ml-auto mb-5 mb-lg-0">
        <div class="row">
          <div class="col-md-12">
            <h3 class="footer-heading mb-4">Redes Sociais</h3>
          </div>
          <div class="col-md-6 col-lg-4">
            <ul class="list-unstyled">
              <a href="" class="icons-btn d-inline-block bag">
                <span><img src="././assets/instagram.png" alt="Image" class="img-fluid" width="38" height="30"></span>
              </a>
            </ul>
          </div>
          <div class="col-md-6 col-lg-4">
            <ul class="list-unstyled">
              <a href="" class="icons-btn d-inline-block bag">
                <span><img src="././assets/tik-tok.png" alt="Image" class="img-fluid" width="38" height="30"></span>
              </a>
            </ul>
          </div>
          <div class="col-md-6 col-lg-4">
            <ul class="list-unstyled">
              <a href="" class="icons-btn d-inline-block bag">
                <span><img src="././assets/facebook.png" alt="Image" class="img-fluid" width="38" height="30"></span>
              </a>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-lg-3">
        <div class="block-5 mb-5">
          <h3 class="footer-heading mb-4">Informação de Contato</h3>
          <ul class="list-unstyled">
            <li class="address">203 Fake St. Mountain View, San Francisco, California, USA</li>
            <li class="phone"><a href="tel://23923929210">+55 11 99999-9999</a></li>
            <li class="email">emailaddress@domain.com</li>
          </ul>
        </div>

        <div class="block-7">

        </div>
      </div>
    </div>
    <div class="row pt-5 mt-5 text-center">
      <div class="col-md-12">
        <p>

          Copyright &copy;LGPD – Asseguramos a privacidade dos seus dados pessoais. Confira nossa política de
          privacidade!<i class="icon-heart" aria-hidden="true"></i>

        </p>
      </div>

    </div>
  </div>
</footer>