<app-menu></app-menu>

<div class="site-blocks-cover inner-page" data-aos="fade">
  <div class="container">
    <div class="row">
      <div class="col-md-6 ml-auto order-md-2 align-self-start">
        <div class="site-block-cover-content">
          <h2 class="sub-title">#New Collection 2022</h2>
          <h1> COMPRE CONOSCO</h1>
          <p><a href="./shoop" class="btn btn-black rounded-0">Ir a Loja!</a></p>
        </div>
      </div>
      <div class="col-md-6 order-1 align-self-end">
        <img src="././assets/modelo_1008.png" alt="Image" class="img-fluid">
      </div>
    </div>
  </div>
</div>

<div class="custom-border-bottom py-3">
  <div class="container">
    <div class="row">
      <div class="col-md-12 mb-0"><a href="./inicio">Home</a> <span class="mx-2 mb-0">/</span> <strong
          class="text-black">Sobre</strong></div>
    </div>
  </div>
</div>

<section id="services" class="services">

  <div class="col-md-13 site-section-heading text-center pt-4">

  </div>
  <div class="container">

    <div class="row">
      <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-up">
        <div class="icon-box">
          <div class="icon"><i class="bx bxl-dribbble"></i></div>
          <h4>Entregas</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus at iaculis quam. Integer accumsan
            tincidunt fringilla.</p>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="fade-up" data-aos-delay="150">
        <div class="icon-box">
          <div class="icon"><i class="bx bx-file"></i></div>
          <h4>Forma de Pagamento</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus at iaculis quam. Integer accumsan
            tincidunt fringilla.
          </p>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="300">
        <div class="icon-box">
          <div class="icon"><i class="bx bx-tachometer"></i></div>
          <h4>Suporte ao cliente</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus at iaculis quam. Integer accumsan
            tincidunt fringilla.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="site-section custom-border-bottom" data-aos="fade">
  <div class="container">
    <div class="row mb-5">
      <div class="col-md-6">
        <div class="block-16">
          <figure>
            <video class="img-fluid" autoplay loop muted>
              <source src="././assets/Mulher - 87554.mp4" type="video/mp4" />
            </video>


          </figure>
        </div>
      </div>
      <div class="col-md-1"></div>
      <div class="col-md-5">


        <div class="site-section-heading pt-3 mb-4">
          <h2 class="text-black">Nossa Historia!</h2>
        </div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius repellat, dicta at laboriosam, nemo
          exercitationem itaque eveniet architecto cumque, deleniti commodi molestias repellendus quos sequi hic fugiat
          asperiores illum. Atque, in, fuga excepturi corrupti error corporis aliquam unde nostrum quas.</p>
        <p>Accusantium dolor ratione maiores est deleniti nihil? Dignissimos est, sunt nulla illum autem in, quibusdam
          cumque recusandae, laudantium minima repellendus.</p>
      </div>
    </div>
  </div>
</div>

<section id="why-us" class="why-us">

  <div class="col-md-13 site-section-heading text-center pt-4">
    <h2></h2>
  </div>
  <div class="container">

    <div class="row">

      <div class="col-lg-4" data-aos="fade-up">
        <div class="box">
          <span>01</span>
          <h4>Missão</h4>
          <br>
          <p>Nossa razão e criar conforto e estilo que cause a união entre diferentes contextos.</p>
        </div>
      </div>

      <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="150">
        <div class="box">
          <span>02</span>
          <h4>Visão</h4>
          <p>Tornar a marca conhecida em todo mundo, unir pessoas, ter operação sustentavel e doar para comunidades de
            todo mundo.</p>
        </div>
      </div>

      <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="300">
        <div class="box">
          <span>03</span>
          <h4>Valores</h4>
          <p>Tornar a marca conhecida em todo mundo, unir pessoas, ter operação sustentavel e doar para comunidades de
            todo mundo.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="site-section custom-border-bottom" data-aos="fade">
  <div class="container">
    <div class="row justify-content-center mb-5">
      <div class="col-md-7 site-section-heading text-center pt-4">
        <h2>O Time</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-lg-3">

        <div class="block-38 text-center">
          <div class="block-38-img">
            <div class="block-38-header">
              <img src="././assets/Team_CEO.jpg" alt="Image placeholder" class="mb-4">
              <h3 class="block-38-heading h4">Nayara Custodia</h3>
              <p class="block-38-subheading">CEO/Co-Founder</p>
            </div>
            <div class="block-38-body">
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae aut minima nihil sit distinctio
                recusandae doloribus ut fugit officia voluptate soluta. </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3">
        <div class="block-38 text-center">
          <div class="block-38-img">
            <div class="block-38-header">
              <img src="././assets/Consultor_Vendas.jpg" alt="Image placeholder" class="mb-4">
              <h3 class="block-38-heading h4">Jonathan Bento</h3>
              <p class="block-38-subheading">Consultor de Vendas</p>
            </div>
            <div class="block-38-body">
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae aut minima nihil sit distinctio
                recusandae doloribus ut fugit officia voluptate soluta. </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3">
        <div class="block-38 text-center">
          <div class="block-38-img">
            <div class="block-38-header">
              <img src="././assets/mark.jpg" alt="Image placeholder" class="mb-4">
              <h3 class="block-38-heading h4">Gisele Mark</h3>
              <p class="block-38-subheading">Marketing</p>
            </div>
            <div class="block-38-body">
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae aut minima nihil sit distinctio
                recusandae doloribus ut fugit officia voluptate soluta. </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3">
        <div class="block-38 text-center">
          <div class="block-38-img">
            <div class="block-38-header">
              <img src="././assets/tec.jpg" alt="Image placeholder" class="mb-4">
              <h3 class="block-38-heading h4">Confidencial</h3>
              <p class="block-38-subheading">Desenvolvimento</p>
            </div>
            <div class="block-38-body">
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae aut minima nihil sit distinctio
                recusandae doloribus ut fugit officia voluptate soluta. </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<app-rodape></app-rodape>