<app-menu></app-menu>

<div id="carouselVideoExample" class="carousel slide carousel-fade" data-mdb-ride="carousel">

  <div class="carousel-indicators">
    <button type="button" data-mdb-target="#carouselVideoExample" data-mdb-slide-to="0" class="active"
      aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-mdb-target="#carouselVideoExample" data-mdb-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-mdb-target="#carouselVideoExample" data-mdb-slide-to="2" aria-label="Slide 3"></button>
  </div>


  <div class="carousel-inner">

    <div class="carousel-item active">
      <video class="img-fluid" autoplay loop muted>
        <source src="././assets/Mulher - 86332.mp4" type="video/mp4" />
      </video>
      <div class="carousel-caption d-none d-md-block">
        <h5>Convivii</h5>
        <p>

        </p>
      </div>
    </div>

  </div>
</div>





<app-rodape></app-rodape>