<app-menu></app-menu>

<div class="site-blocks-cover" data-aos="fade">
  <div class="container">
    <div class="row">
      <div class="col-md-6 ml-auto order-md-2 align-self-start">
        <div class="site-block-cover-content">
          <h2 class="sub-title">
            <marquee> Se a vida e uma festa, estaja vestido de Convivii</marquee>
          </h2>
          <h1>CONVIVII</h1>
          <p><a href="./shoop" class="btn btn-black rounded-0">Ir a Loja</a></p>
        </div>
      </div>
      <div class="col-md-6 order-1 align-self-end">
        <img src="././assets/model_3.png" alt="imagem" class="img-fluid">

      </div>
    </div>
  </div>
</div>

<div class="site-section">
  <div class="container">
    <div class="title-section mb-5">
      <h2 class="text-uppercase"><span class="d-block">Descobrir</span>as coleções</h2>
    </div>
    <div class="row align-items-stretch">
      <div class="col-lg-8">
        <div class="product-item sm-height full-height bg-gray">
          <a href="#" class="product-category">VINTAGE<span></span></a>
          <img src="././assets/modelo_1009.png" alt="Image" class="img-fluid" width="9500" height="9500">
        </div>
      </div>
      <div class="col-lg-4">
        <div class="product-item sm-height bg-grayOVERSIZED mb-4">
          <a href="#" class="product-category">OVERSIZED<span></span></a>
          <img src="././assets/modelo_2.png" alt="Image" class="img-fluid">
        </div>

        <div class="product-item sm-height bg-gray">
          <a href="./sobre" class="product-category">LAYDLIKE<span></span></a>
          <img src="././assets/modelo_4.png" alt="Image" class="img-fluid">
        </div>
      </div>
    </div>
  </div>
</div>



<div class="site-section">
  <div class="container">
    <div class="row">
      <div class="title-section mb-5 col-12">
        <h2 class="text-uppercase">Produtos Populares</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-6 item-entry mb-4">
        <a href="./camisetabasicapreta" class="product-item md-height bg-gray d-block">
          <img src="././assets/camiseta_basica_01.png" alt="Image" class="img-fluid">
        </a>
        <h2 class="item-title"><a href="./camisetabasicapreta">Camiseta Convivii basica - Preta</a></h2>
        <strong class="item-price">R$120,00</strong>
      </div>
      <div class="col-lg-4 col-md-6 item-entry mb-4">
        <a href="./camisetabasicapreta" class="product-item md-height bg-gray d-block">
          <img src="././assets/camiseta_est_i_cam.png" alt="Image" class="img-fluid">
        </a>
        <h2 class="item-title"><a href="./camisetabasicapreta">Camiseta I Cam - Preta</a></h2>
        <strong class="item-price"><del>R$139,90</del> R$99.90</strong>
      </div>

      <div class="col-lg-4 col-md-6 item-entry mb-4">
        <a href="#" class="product-item md-height bg-gray d-block">
          <img src="././assets/camiseta_i_cam_rosa.png" alt="Image" class="img-fluid">
        </a>
        <h2 class="item-title"><a href="#">Camiseta I Cam - Rosa</a></h2>
        <strong class="item-price"><del>R$139,90</del> R$99.90</strong>

        <div class="star-rating">
          <span class="icon-star2 text-warning"></span>
          <span class="icon-star2 text-warning"></span>
          <span class="icon-star2 text-warning"></span>
          <span class="icon-star2 text-warning"></span>
          <span class="icon-star2 text-warning"></span>
        </div>

      </div>
      <div class="col-lg-4 col-md-6 item-entry mb-4">
        <a href="#" class="product-item md-height bg-gray d-block">
          <img src="././assets/camiseta_Convivi_detalhes_pink.png" alt="Image" class="img-fluid">
        </a>
        <h2 class="item-title"><a href="#">Camiseta Convivi detalhes - Pink</a></h2>
        <strong class="item-price"><del>R$146,00</del> R$120,00</strong>
        <div class="star-rating">
          <span class="icon-star2 text-warning"></span>
          <span class="icon-star2 text-warning"></span>
          <span class="icon-star2 text-warning"></span>
          <span class="icon-star2 text-warning"></span>
          <span class="icon-star2 text-warning"></span>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 item-entry mb-4">
        <a href="#" class="product-item md-height bg-gray d-block">
          <img src="././assets/camiseta_i_cam_verde.png" alt="Image" class="img-fluid">
        </a>
        <h2 class="item-title"><a href="#">Camiseta I Cam detalhes - Verde</a></h2>
        <strong class="item-price"><del>R$139,00</del> R$99,00</strong>
      </div>
      <div class="col-lg-4 col-md-6 item-entry mb-4">
        <a href="#" class="product-item md-height bg-gray d-block">
          <img src="././assets/Camiseta_convivi-Escrita.png" alt="Image" class="img-fluid">
        </a>
        <h2 class="item-title"><a href="#">Camiseta Convivii Escrita - Preta</a></h2>
        <strong class="item-price">R$138,00</strong>
      </div>

    </div>
  </div>
</div>

<div class="site-section">
  <div class="container">
    <div class="row">
      <div class="title-section text-center mb-5 col-12">
        <h2 class="text-uppercase">Coleções</h2>
      </div>
    </div>
    <div id="carouselVideoExample" class="carousel slide carousel-fade" data-mdb-ride="carousel">

      <div class="carousel-indicators">
        <button type="button" data-mdb-target="#carouselVideoExample" data-mdb-slide-to="0" class="active"
          aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-mdb-target="#carouselVideoExample" data-mdb-slide-to="1"
          aria-label="Slide 2"></button>
        <button type="button" data-mdb-target="#carouselVideoExample" data-mdb-slide-to="2"
          aria-label="Slide 3"></button>
      </div>


      <div class="carousel-inner">

        <div class="carousel-item active">
          <video class="img-fluid" autoplay loop muted>
            <source src="././assets/Mulher.mp4" type="video/mp4" />
          </video>
          <div class="carousel-caption d-none d-md-block">
            <h5>Convivii</h5>
            <p>

            </p>
          </div>
        </div>

        
        <div class="carousel-item">
          <video class="img-fluid" autoplay loop muted>
            <source src="https://mdbcdn.b-cdn.net/img/video/forest.mp4" type="video/mp4" />
          </video>
          <div class="carousel-caption d-none d-md-block">
            <h5>Second slide label</h5>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            </p>
          </div>
        </div>

        
        <div class="carousel-item">
          <video class="img-fluid" autoplay loop muted>
            <source src="././assets/Mulher.mp4" type="video/mp4" />
          </video>
          <div class="carousel-caption d-none d-md-block">
            <h5>Third slide label</h5>
            <p>
              Praesent commodo cursus magna, vel scelerisque nisl consectetur.
            </p>
          </div>
        </div>
      </div>


    </div>
  </div>


  <div class="site-blocks-cover inner-page py-5" data-aos="fade">
    <div class="container">
      <div class="row">
        <div class="col-md-6 ml-auto order-md-2 align-self-start">
          <div class="site-block-cover-content">
            <h2 class="sub-title">#New Collection 2022</h2>
            <h1>CONVIVII</h1>
            <p><a href="./shoop" class="btn btn-black rounded-0">Ir a Loja</a></p>
          </div>
        </div>
        <div class="col-md-6 order-1 align-self-end">
          <img src="././assets/model_6.png" alt="Image" class="img-fluid">
        </div>
      </div>
    </div>
  </div>

  <app-rodape></app-rodape>